@{
    Layout="Shared/_Layout.cshtml";
}

<h2 class="text-left">Stylists:</h2>
@if(@Model.Count == 0)
{
  <h3>There are currently no stylists on the schedule.</h3>
}
else
{
  @foreach(var stylist in Model)
  {
    <h3><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></h3>
  }
}
<form action="/stylists/new" method="get">
  <button type='submit' class="btn btn-primary">Add stylist</button>
  <input type="hidden" name="form-type" value="stylist">
</form>

@if(Model.Count != 0)
{
  <a href="/stylists/delete"><span class="btn btn-danger">Delete all stylists</span></a>
}
