@{
    Layout="Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col-sm-6 text-center">
    <h2>Stylists:</h2>
    @if(Model.Count == 0)
    {
      <h3>There are currently no stylists on the schedule. Would you like to <a href="/stylists/new">add one?</a></h3>
    }
    else
    {
      @foreach(var stylist in Model)
      {
        <h3><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></h3>
      }
    }
  </div>
  <div class="col-sm-6">
    <h3>Buttons and stuff go here?</h3>
  </div>
</div>
